= render partial: "successAlert", locals: { msg: @successMsg }

%li.list-group-item
  %a.btn.btn-default.btn-block{:href => brand_url(@brand)}
    = "Back"

%li.list-group-item
  %h4= "#{@brand.name}"
  %h5= "Manage Menu Items"

%li.list-group-item
  %a.btn.btn-default.btn-block{:href => new_brand_menu_item_url(:brand_id => @brand.id)}
    = "Add"

  %a.btn.btn-default.btn-block{:href => brand_menu_items_url(:brand_id => @brand.id)}
    = "Edit"